<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Interactive rating component</title>
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>

  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

  <!-- rating state -->

  <div class="card">

    <div class="star-holder">
      <img src="/img/icon-star.svg" alt="">
    </div>

    <h2 class="header">How did we do?</h2>

    <p class="paragraph"> Please let us know how we did with your support request. All feedback is appreciated 
    to help us improve our offering!</p>

    <ul class="list" id="list">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>

    <button class="sub-btn">Submit</button>

  </div>
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Your Name Here</a>.
  </div>


  <script src="/public/main.js"></script>
</body>
</html>